@import "./static_variables.scss";


.transaction_list {
    .modal {
        .my_button {
            margin-top: 20px;
        }
    }

    // .center_content {
    //     .list {
    //         .item {
                
    //         }
    //     }
    // }
}

.transaction {
    .item_content {
        margin-right: 0;
        .incoming_money {
            color: green;
            margin-left: 5px;
            font-weight: bold;
        }
        .outgoing_money {
            color: $red_text_color;
            margin-left: 5px;
            font-weight: bold;
        }
    }
}
